@media (max-width: 1100px) {
    body{
        margin: 0;
        font-family: Google;
    }
    
    .header{
        box-sizing: border-box;
        position: fixed;
        width: 100%;
        background-color: #3545B2;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5%;
        padding: 2vh;
    }
    
    .btnimg{
        box-sizing: border-box;
        width: 20vmin;
    }

    .btn_logo{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headernav{
        box-sizing: border-box;
        display: flex;
        align-items: start;
    }

    .btn{
        box-sizing: border-box;
        color: #FFF;
        font-size: 3.5vmin;
        margin: 1vh 15px;
        text-decoration: none;
        transition: color .5s;
    }

    .btn:active{
        box-sizing: border-box;
        color: #9c6b00
    }
}