@media (min-width: 1100px) {
    body{
        margin: 0;
        font-family: Google;
    }

    .header{
        box-sizing: border-box;
        position: fixed;
        width: 100vw;
        background-color: #3545B2;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50%;
    }

    .btn_logo{
        height: 75px;
        margin: auto 0;
        transition: filter 0.5s ease-in-out;
    }

    .btn_logo:hover{
        filter: drop-shadow(0px 0px 10px #CCC2);
    }

    .btn{
        height: 18px;
        margin: 10px;
        color: #FFF;
        font-size: 18px;
        text-decoration: none;
        transition: color .5s;
        margin: auto 10px;
    }

    .btn:hover{
        color: #E09900
    }

    .btn:active{
        color: #9c6b00
    }
}