@media (min-width: 1100px) {
    .imgheader1{
        margin-top: 100px;
        width: 100%;
    }

    /*Todo esto es para la sección de "Conoce nuestros productos"*/
    .prodsall{
        height:fit-content;
    }

    .prodtit{
        margin-top: 60px;
        font-size: 46px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        font-family: Lexend;
        color: #333333;
    }

    .prods{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .proddiv{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prodbtn, .msgbtn, .curiobtn{
        margin: 35px 0;
        width: 250px;
        height: 50px;
        border: none;
        border-radius: 100px;
        background-color: #FF4500;
        font-family: Google;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #FFF;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
    }

    .prodbtn:hover, .msgbtn:hover, .curiobtn:hover{
        border: none;
        border: 1px solid #FF4500;
        border-radius: 100px;
        background-color: #FFF;
        font-family: Google;
        font-size: 18px;
        color: #FF4500;
    }

    .prodimg{
        height: 240px;
        box-shadow: 0px 0px 20px 8px  #33333333;
        transition: box-shadow 0.5s ease-in-out;
        margin: 30px;
        border-radius: 5px;
    }

    .prodimg:hover{
        box-shadow: 0px 0px 20px 8px  #33333377;
    }

    /*A partir de este punto es la sección donde está la foto del viejito*/
    .history{
        box-sizing: border-box;
        height: 10.3in;
        background-color: #F2F2F2;
        text-align: center;
        padding: 10px 10vw;
    }

    .histdesc{
        font-size: 22px;
        color: #E1A116;
    }

    .histh1, .vh2{
        text-align: center;
        font-size: 52px;
        text-transform: uppercase;
        font-weight: bolder;
        color: #333333;
        }

        .histdiv, .videop{
        color: #737373;
        box-sizing: border-box;
        width: 60vw;
        margin: auto;
        font-size: 19px;
        text-align: center;
    }

    .histimg{
        width: 100%;
    }

    /*Esta es la sección con imágen para contactar por whatsapp*/
    .msg, .curio{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background-image: url(/res/img/bkg1.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        padding: 3vh;
    }

    .msgp, .curiop{
        color: #FFF;
        font-size: 26px;
        text-align: center;
        margin-bottom: 0;
    }

    /*Desde este punto, inicia la sección del video*/
    .video{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        height: 100vh;
    }

    .videop, .vh2{
        margin: 1vh;
    }

    .vh2{
        margin-top: 4vh;
    }

    .videoframe{
        margin: 2vh;
    }

    .curio{
        text-align: center;
        box-sizing: border-box;
        height: 300px;
        background-image: url(/res/img/bkg2.jpg);
        background-size: cover;
        background-position: center;
    }

    .map{
        box-sizing: border-box;
        background-color: #333333;
        padding: 5px;
    }

    .mapframe{
        width: 100%;
        height: 5in;
    }

    .footer{
        height: fit-content;
        background-color: #3545B2;
        color: #FFF;
    }

    .ftrtop{
        padding: 80px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20%;
    }

    .txtleft {
        font-size: 18px;
        text-align: left;
    }

    .form{
        margin-top: 20px;
        border: none;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formlegend{
        font-size: 26px;
        margin: 10px;
    }

    .ftrinp{
        font-family: sans-serif;
        font-size: 14px;
        width: 222px;
        margin: 10px;
        padding: 15px;
        background-color: #EEEEEE;
    }

    .txtarea{
        width: 97.5%;
        resize: none;
        resize: vertical;
        width: 500px;
        min-height: 200px;
        background-color: #EEEEEE;
    }

    .submitbtn{
        margin: 5px;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: #FF4500;
        font-family: Google;
        font-size: 18px;
        color: #FFF;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
    }

    .ftrbot{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ftrimg{
        width: 250px;
    }

    .ftrlink{
        margin: 30px;
        text-decoration: none;
        color: #FFF;
        font-family: Google;
    }

    .sign{
        box-sizing: border-box;
        background-color: #111;
        height: 80px;
        text-align: center;
        margin: 0;
        padding: 30px;
        color: #EEEEEE;
    }

    .signp{
        margin: 0
    }
}