body{
    margin: 0;
    font-family: Google;
}

/*Todo lo referido a la barra de navegación superior*/
.barra{
    height: 120px;
    width: 100%;
    background-color: #3545B2;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barraimg{
    height: 70px;
}

/*Mírame... yo soy el body ahora.*/
.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:
    120px 650px 800px 1000px 350px 1000px 350px 450px 800px 80px;
}

/*Todo respecto a la primera portada, acá debería estar el slider*/
.portada{
    background: url(/res/img/Header1.jpg) center / cover #000;
}

/*La sección "Conoce nuestros productos", esta se va a poner heavy*/
.cnp{
    background-color: #FFF;
}

/*Acá figura la imagen del abuelito con sus cosillas*/
.abue{
    background-color: #F2F2F2;
}

/*Sección con botón para enviar mensaje de whatsapp*/
.wsp{
    background: url(/res/img/bkg1.jpg) center / cover #000;
}

/*Descripción de la empresa con video de youtube*/
.tapatia{
    background-color: #F2F2F2;
}

/*Inivitación a conocer los productos*/
.produ2{
    background: url(/res/img/bkg2.jpg) center / cover #000;
}

/*Todo lo referido al mapa pendiente a insertar*/
.map{
    background-color: #222;
}

/*El pié de la págia, donde va el disclaimer, los datos de contacto y el formulario para contactar*/
.ftr{
    background-color: #3545B2;
}

/*En esta sección sólo está la firma del grupo de desarrollo*/
.sign{
    background-color: #222;
}