:root{
    --clr-enfasis: #FF4500;
    --clr-base: #3545B2;
    --clr-fondo1: #FFFFFF;
    --clr-fondo2: #F2F2F2;
    --clr-fondo3: #222222;
    --clr-font1: #F2F2F2;
    --clr-font2: #333333;
    --clr-font3: #E2A522;
    --clr-font4: #666666;
    --clr-shadow: #00000077;
    --clr-glow: #F2F2F277;
    --fnt-supertitle78: 78px;
    --fnt-title56: 56px;
    --fnt-subtitle48: 48px;
    --fnt-imgtitle32: 32px;
    --fnt-division26: 26px;
    --fnt-22: 22px;
    --fnt-button18: 16px;
    --fnt-p18: 16px;
}

body{
    margin: 0;
    font-family: Google;
}

/*Todo respecto a la primera portada, acá debería estar el slider*/
.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.portada{
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--clr-font1);
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada1{
    background: url(https://i.ibb.co/ccWwTs0/GvkJGv0.jpg) center / cover #000;
}

.portada2{
    background: url(https://i.ibb.co/9907sPc/FIwzF3Z.jpg) center / cover #000;
}

.portada2::before{
    content: '';
    filter: brightness(0.5);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    width: 100%;
    height: 100%;
}

.portada2--content{
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fnt-imgtitle32);
    font-weight: bolder;
}

.active {
    opacity: 1;
    z-index: 5;
}

.portadabtn{
    background-color: transparent;
    color: var(--clr-font1);
    border: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-family: Icons;
    height: 650px;
    width: 100px;
    position: absolute;
    top: 120px;
    z-index: 6;
}

#buttonprev{
    left: 0;
    width: 0px;
    font-size: 0px;
}

#buttonnext{
    right: 0;
    width: 0px;
    font-size: 0px;
}

.headercompleto:hover .portadabtn{
    text-shadow: 0px 0px 10px var(--clr-glow);
    background-color: #3332;
}

.headercompleto:hover #buttonprev{
    width: 100px;
    font-size: var(--fnt-title56);
}

.headercompleto:hover #buttonnext{
    width: 100px;
    font-size: var(--fnt-title56);
}

/*La sección "Conoce nuestros productos", esta se va a poner heavy*/
.cnp{
    background-color: var(--clr-fondo1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    text-align: center;
}

.imgtitl{
    color: var(--clr-font2);
    font-size: var(--fnt-imgtitle32);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.imgtitl:hover{
    color: var(--clr-enfasis);
}

.cnpimages{
    transform: translate(0, -20%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.cnpimage {
    position: relative;
    display: inline-block;
}

.cnpimage a{
    text-decoration: none;
}

.cnpimage img {
    border-radius: 10px;
    height: 300px;
    display: block;
    transition: all 0.5s ease; 
}

.cnpbutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    opacity: 0;
    transition: all 0.5s ease;
    padding: 10px 20px;
    color: var(--clr-font1);
    border: none;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    background-color: var(--clr-enfasis);
    font-family: Google;
    font-size: var(--fnt-p18);
    text-decoration: none;
    text-transform: uppercase;
}

.cnpimage:hover img {
    filter: blur(3px);
    box-shadow: 0px 0px 15px var(--clr-shadow);
}

.cnpimage:hover .cnpbutton {
    opacity: 1;
}

.cnpbutton:hover{
    border: none;
    border: 1px solid var(--clr-enfasis);
    border-radius: 100px;
    background-color: var(--clr-fondo1);
    font-family: Google;
    font-size: var(--fnt-p18);
    color: var(--clr-enfasis);
    box-shadow: 0px 0px 15px var(--clr-shadow);
    cursor: pointer;
}

/*Acá figura la imagen del abuelito con sus cosillas*/
.abue, .tapatia{
    background-color: var(--clr-fondo2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3% 20%;
}

.abue h2{
    font-size: var(--fnt-22);
    color: var(--clr-font3);
    font-weight: lighter;
}

/*Esta sección contiene el estilo de todos los títulos en conjunto*/
.abue h1, .tapatia h1, .cnptitl{
    font-family: Lexend;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: var(--fnt-subtitle48);
    translate: 0 -25%;
    color: var(--clr-font2);
}
/*Fin de la sección de títulos*/

.abue p, .tapatia p{
    font-family: google;
    color: var(--clr-font4);
    font-size: var(--fnt-p18);
}

.abue img{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px var(--clr-shadow);
}

/*Sección con botón para enviar mensaje de whatsapp*/
.wsp, .produ2{
    background: url(https://elchino.com.mx/wp-content/uploads/2023/06/4.jpg) center / cover #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.produ2{
background: url(https://elchino.com.mx/wp-content/uploads/2023/06/5.jpg) center / cover #000;
}

.wsp p, .produ2 p{
    font-size: var(--fnt-division26);
    color: var(--clr-font1);
    line-height: 0.9;
    font-weight: lighter;
}

.wsp button, .produ2 button, .portada button{
    transition: all 0.6s ease-in-out;
    padding: 10px 20px;
    color: var(--clr-font1);
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    background-color: var(--clr-enfasis);
    font-family: Google;
    font-size: var(--fnt-p18);
    text-decoration: none;
    text-transform: uppercase;
}

.wsp button:hover, .produ2 button:hover, .portada button:hover{
    border: none;
    border: 1px solid var(--clr-enfasis);
    border-radius: 100px;
    background-color: var(--clr-fondo2);
    font-family: Google;
    font-size: var(--fnt-p18);
    color: var(--clr-enfasis);
    box-shadow: 0px 0px 15px var(--clr-shadow);
    cursor: pointer;
}

/*Descripción de la empresa con video de youtube*/
.tapatia{
    background-color: var(--clr-fondo1);
}

.tapatia iframe{
    width: 100%;
    height: 80%;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 10px var(--clr-shadow);
}

/*Todo lo referido al mapa*/
.map{
    background-color: var(--clr-fondo3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.map iframe{
    height: 90%;
    width: 98%;
    border-radius: 5px;
}