body{
    margin: 0;
    font-family: Google;
}

.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:
    120px /*Espacio detrás del nav*/
    2200px /*Sección 1*/ 
    750px /*Footer*/
    80px; /*Firma*/
}